@media (max-width: 1700px) {
    .promotion {
        &__image-bowl {
            right: 245px;
        }

        &__image-dog {
            right: -200px;
        }
    }
}

@media (min-width: 1399px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 1150px) / 2));
    }
}

@media (max-width: 1400px) {
    .promotion {
        &__image-bowl {
            right: 145px;
        }

        &__image-dog {
            right: -300px;
        }
    }

    .palette__colors-item__info {
        margin: 0 0 84px 70px;
    }
}

@media (max-width: 1260px) {
    .promotion {
        &__body {
            max-width: 450px;
        }
    }
}

@media (max-width: 1120px) and (min-width: 768px) {
    .container {
        padding: 0 50px;
    }
}

@media (min-width: 991px) {
    .palette__colors-item__info {

        &::before,
        &::after {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .logotype {
        &__body .row {
            gap: 30px;
        }

        &__download-button {
            width: fit-content;
            margin: 0 auto;
        }
    }

    .materials {
        &__inner {
            gap: 40px;
        }

        &__image-dog {
            height: 600px;
            width: max-content;
        }
    }

    .palette {
        flex-direction: column;
        gap: 80px;
        padding: 80px 0 100px;

        &:first-child {
            padding-bottom: 0;
        }

        &:last-child {
            padding-top: 0;
        }

        &__header {
            display: none;
        }

        &.palette--first .palette__header {
            display: block;
        }

        &__content {
            padding: 0;
        }

        &__content,
        &__colors {
            min-width: 100vw;
        }

        &__colors {
            flex-direction: column;
        }

        &__colors-item__info {
            gap: 5px;
            margin: 0;

            p {
                @include font(14px, normal);
            }

            p,
            &--white p {
                &:nth-child(2)::after {
                    display: none;
                }
            }
        }

        &__colors-item {
            padding: 20px 20px 50px 20px;
        }
    }
}

@media (max-width: 830px) {
    .menu {
        &__inner {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 120px 1fr;
        }

        &__left-logo {
            display: none;
        }

        &__close {
            margin-left: auto;
        }
    }

    .menu-nav {
        order: 1;
        align-items: flex-start;
    }
}

@media (min-width: 1260px) and (max-width: 1400px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 1100px) / 2));
    }
}

@media (min-width: 1120px) and (max-width: 1259px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 920px) / 2));
    }
}

@media (min-width: 991px) and (max-width: 1119px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 860px) / 2));
    }
}

@media (max-width: 768px) {

    .promotion__line--left,
    .promotion__line--bottom,
    .promotion__line--right {
        display: none;
    }

    .download-button {
        padding: 18px 42px;
    }

    .promotion {
        &__content {
            padding-bottom: 123px;

            &::after {
                bottom: 50px;
            }
        }

        &__subtitle {
            margin-bottom: 10px;
            font-size: 20px;
        }

        &__logo {
            margin-bottom: 40px;

            svg {
                width: 280px;
                height: 61px;
            }
        }

        &__text {
            margin-bottom: 40px;
            line-height: 150%;
        }

        &__image-bowl {
            right: 145px;
        }

        &__image-dog {
            height: 542px;
            object-fit: cover;
            right: 0;
            top: -75px;
        }
    }

    .promotion-header {
        padding-top: 20px;

        &__container {
            padding: 0 20px;
        }
    }

    .logotype {
        padding: 64px 0 45px;

        &__logo {
            svg {
                width: 430px;
                height: 93px;
            }
        }
    }

    .photostyle {
        padding: 60px 0 180px;

        &__info {
            margin-top: 40px;

            .col-md-6:first-child {
                margin-bottom: 20px;
            }
        }

        &__slider {
            margin-top: 40px;
        }
    }

    .materials {
        padding: 120px 0 464px;

        &__body {
            width: 100%;
        }

        &__links-inner {
            width: 100%;
        }

        &__image-dog {
            height: 500px;
            left: -50px;
        }
    }
}

@media (max-width: 600px) {
    .menu-nav {
        &__item {
            h3 {
                font-size: 16px;
            }
        }

        &__item-link {
            font-size: 32px;
        }
    }

    .logotype {
        &__header {
            margin-top: 124px;
        }


        &__body {
            gap: 74px;
        }
    }

    .section-template__header-title {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .menu {
        padding: 20px;
    }

    .section-template__header h3 {
        margin-left: 30px;
    }

    .palette {
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 0;
        height: auto;

        &:first-child {
            padding-top: 45px;
        }

        &:last-child {
            padding-bottom: 40px;
        }

        &__body {
            gap: 0;
        }

        &__main {
            margin: 40px 0 20px;
        }

        &__main-title {
            @include font(40px, normal);
        }
    }

    .materials {
        padding: 80px 0 400px;

        &__links-inner {
            display: flex;
            flex-wrap: wrap;

            a {
                width: 100%;
            }
        }

        &__image-dog {
            height: 400px;
            left: -25px;
        }
    }
}

@media (max-width: 480px) {
    .promotion {
        &__image-bowl {
            right: 76px;
        }
    }

    .logotype {
        &__logo {
            svg {
                width: 280px;
                height: 60px;
            }
        }
    }
}

@media (max-width: 380px) {
    .promotion {
        &__image-bowl {
            height: 220px;
        }
    }

    .materials {
        padding-bottom: 337px;

        &__image-dog {
            height: 337px;
            left: -60px;
        }
    }
}