@media (max-width: 1700px) {
    .promotion {
        &__image-bowl {
            right: 245px;
        }

        &__image-dog {
            right: -200px;
        }
    }
}

@media (min-width: 1399px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 1150px) / 2));
    }
}

@media (max-width: 1400px) {
    .promotion {
        &__image-bowl {
            right: 145px;
        }

        &__image-dog {
            right: -300px;
        }
    }

    .packages {
        &__image {
            max-width: 500px;
        }

        &__dog {
            width: 400px !important;
        }

        &__cat {
            width: 300px !important;
        }
    }

    .palette {
        &__colors-item__info {
            margin: 0 0 84px 70px;
        }
    }

    .fonts {
        &__image {
            min-width: calc(56% + ((100vw - 610px) / 2));
            margin: auto 0;
        }
    }
}

@media (max-width: 1260px) {
    .promotion {
        &__body {
            max-width: 450px;
        }
    }

    .footer {
        &__docs {
            gap: 40px;
        }
    }

    .fonts {
        &__image {
            min-width: calc(56% + ((100vw - 270px) / 2));
        }
    }
}

@media (max-width: 1120px) {
    .fonts {
        &__body {
            padding: 80px 0;
        }

        &__image {
            min-width: calc(56% + ((100vw - 100px) / 2));
        }
    }
}

@media (max-width: 1120px) and (min-width: 768px) {
    .container {
        padding: 0 50px;
    }
}

@media (min-width: 991px) {
    .palette__colors-item__info {

        &::before,
        &::after {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        &__links .row {
            gap: 40px;
        }

        &__links-item {
            gap: 15px;
        }

        &__info {
            .col-lg-6 {
                margin-bottom: 30px;
            }

            .col-lg-3:last-of-type {
                margin-top: 10px;
            }
        }

        &__docs {
            flex-direction: column;
            gap: 10px;
        }
    }

    .packages {
        &__image {
            max-width: 400px;
        }

        &__dog {
            width: 300px !important;
        }

        &__cat {
            width: 200px !important;
        }
    }

    .logotype {
        &__header {
            margin-bottom: 20px;
        }

        &__body {
            gap: 20px;

            .row {
                gap: 20px;
            }
        }

        &__download-button {
            width: fit-content;
            margin: 0 auto;
        }
    }

    .materials {
        &__inner {
            gap: 40px;
        }

        &__image-dog {
            height: 600px;
            width: max-content;
        }
    }

    .palette {
        flex-direction: column;
        gap: 80px;

        &__header {
            display: none;
        }

        &.palette--first .palette__header {
            display: block;
        }

        &__content,
        &__colors {
            min-width: 100vw;
        }

        &__content {
            padding: 0;
        }

        &__inner {
            padding: 120px 0 0;
            flex-direction: column;
            justify-content: space-between;
        }

        &__colors {
            flex-direction: column;
        }

        &__colors-item__info {
            gap: 5px;
            margin: 0;

            p {
                @include font(14px, normal);

                &:last-child {
                    display: block;
                }
            }

            p,
            &--white p {
                &:nth-child(2)::after {
                    display: none;
                }
            }
        }

        &__colors-item {
            padding: 20px;
        }
    }

    .fonts {
        flex-direction: column;
        justify-content: space-between;

        &__image {
            display: flex;
            align-items: flex-end;
            min-width: calc(56% + (100vw - 70px)/2);
            height: 100%;
            margin: 0;

            img {
                width: auto;
                margin-left: auto;
                height: 32vw;
            }
        }
    }
}

@media (max-width: 830px) {
    .menu {
        &__inner {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 120px 1fr;
        }

        &__left-logo {
            display: none;
        }

        &__close {
            margin-left: auto;
        }
    }

    .menu-nav {
        order: 1;
        align-items: flex-start;
    }

    .packages {
        &__image {
            max-width: 100%;
        }

        &__dog,
        &__cat {
            display: none;
        }
    }
}

@media (min-width: 1260px) and (max-width: 1400px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 1100px) / 2));
    }
}

@media (min-width: 1120px) and (max-width: 1259px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 920px) / 2));
    }
}

@media (min-width: 991px) and (max-width: 1119px) {
    .palette__colors {
        min-width: calc(67% + ((100vw - 860px) / 2));
    }
}

@media (max-width: 768px) {

    .promotion__line--left,
    .promotion__line--bottom,
    .promotion__line--right {
        display: none;
    }

    .download-button {
        padding: 18px 42px;
    }

    .promotion {
        &__content {
            padding-bottom: 123px;

            &::after {
                bottom: 50px;
            }
        }

        &__subtitle {
            margin-bottom: 10px;
            font-size: 20px;
        }

        &__logo {
            margin-bottom: 40px;

            svg {
                width: 280px;
                height: 61px;
            }
        }

        &__text {
            margin-bottom: 40px;
            line-height: 150%;
        }

        &__image-bowl {
            right: 145px;
        }

        &__image-dog {
            height: 542px;
            object-fit: cover;
            right: 0;
            top: -75px;
        }
    }

    .promotion-header {
        padding-top: 20px;

        &__container {
            padding: 0 20px;
        }
    }

    .packages {
        &__body {
            flex-direction: column;
        }

        &__header {
            margin-bottom: 40px;
        }

        &__image {
            display: flex;
            justify-content: center;
        }

        &__image--left,
        &__image--right {
            display: none;
        }

        &__image--mini {
            display: block;
        }
    }

    .logotype {
        padding: 64px 0 45px;

        &__logo-wrapper {
            width: 412px;
            height: 202px;
        }
    }

    .palette {
        &:nth-child(1) {
            .container {
                padding-right: 0;
            }

            .palette__colors {
                min-width: calc(100vw + 20px);
                margin-left: -20px;
            }
        }

        &:nth-child(2) {
            .container {
                padding-right: 0;
            }

            .palette__colors {
                min-width: calc(100vw + 20px);
                margin-left: -20px;
            }
        }

        &:nth-child(3) {
            .container {
                padding-right: 0;
            }

            .palette__colors {
                margin-left: -20px;
            }
        }
    }

    .photostyle {
        padding: 60px 0 180px;

        &__info {
            margin-top: 40px;

            .col-md-6:first-child {
                margin-bottom: 20px;
            }
        }

        &__slider {
            margin-top: 40px;
        }
    }

    .materials {
        padding: 120px 0 464px;

        &__body {
            width: 100%;
        }

        &__links-inner {
            width: 100%;
        }

        &__image-dog {
            height: 500px;
            left: -50px;
        }
    }
}

@media (max-width: 600px) {
    .menu-nav {
        &__item {
            h3 {
                font-size: 16px;
            }
        }

        &__item-link {
            font-size: 32px;
        }
    }

    .logotype {
        &__header {
            margin-top: 124px;
        }


        &__body {
            gap: 74px;
        }
    }

    .section-template__header-title {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .menu {
        padding: 20px;
    }

    .section-template__header h3 {
        margin-left: 30px;
    }

    .footer {
        padding: 40px 0;

        &__links-main {
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &__links-main__social,
        &__links-main__logo {
            width: fit-content;
        }

        &__links-main__btn {
            order: 1;
            width: 100%;

            .button {
                width: 100%;
            }
        }

        &__links-main__logo svg {
            width: 130px;
            height: 28px;
        }
    }

    .logotype {
        max-height: fit-content !important;
        padding-bottom: 45px;
        padding-bottom: 0;

        &__inner {
            padding-bottom: 45px;
        }

        &__header {
            margin-top: 0;
        }

        &__body {
            .col-lg-4:last-child {
                order: -1;
            }

            .download-button {
                width: 100%;
            }
        }
    }

    .palette {
        gap: 20px;
        padding: 0;
        height: auto;

        &__inner {
            padding: 0;
            gap: 100px;
            justify-content: flex-end;
        }

        &__body {
            gap: 0;
        }

        &__main {
            margin: 40px 0 20px;
        }

        &__main-title {
            @include font(40px, normal);
        }
    }

    .fonts {
        &__body {
            padding: 50px 0 41px;
        }

        &__inner {
            margin-top: 40px;
            gap: 40px;
        }

        &__image img {
            width: 323px;
            height: 345px;
        }
    }

    .fonts-field {

        &__title {
            font-size: 32px;
        }

        &__description {
            font-size: 16px;
        }
    }

    .materials {
        padding: 80px 0 400px;

        &__links-inner {
            display: flex;
            flex-wrap: wrap;

            a {
                width: 100%;
            }
        }

        &__image-dog {
            height: 400px;
            left: -25px;
        }
    }
}

@media (max-width: 480px) {
    .promotion {
        &__image-bowl {
            right: 76px;
        }
    }

    .logotype {
        &__logo-wrapper {
            width: 310px;
            height: 160px;
        }
    }
}

@media (max-width: 380px) {
    .promotion {
        &__image-bowl {
            height: 220px;
        }
    }

    .materials {
        padding-bottom: 337px;

        &__image-dog {
            height: 337px;
            left: -60px;
        }
    }

    .palette {
        &__inner {
            gap: 20px;
        }
    }
}

@media (min-height: 1000px) {
    .promotion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: inherit;
    }
}

@media (max-height: 900px) {
    .logotype {
        &__inner {
            padding-bottom: 100px;
        }

        &__header {
            margin-bottom: 20px;
        }

        &__body {
            gap: 20px;
        }
    }
}

@media (max-height: 800px) {
    .logotype {
        &__logo-wrapper {
            width: 400px;
            height: 215px;
        }
    }
}