@import "vars";
@import "mixins";
@import "functions";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

* {
    appearance: none;
}

.footer {
    background-color: $black-color;
    padding: 100px 0 70px;

    &__links {
        margin-bottom: 58px;
    }

    &__links-main {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__logo svg {
            width: 170px;
            height: 37px;
        }

        &__social {
            display: flex;
            align-items: center;
            gap: 12px;

            &--vk svg {
                width: 21px;
                height: 12px;
            }

            &--telegram svg {
                width: 19px;
                height: 16px;
            }

            &--ok svg {
                width: 18px;
                height: 20px;
            }

            svg {
                width: 20px;
                fill: #000;

                transition: fill .3s $transitionTimingFunc;
            }

            span {
                width: 50px;
                height: 50px;
                background-color: #f2f2f2;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: background-color .3s $transitionTimingFunc;
            }

            a:hover {
                span {
                    background-color: #000;
                }

                svg {
                    fill: $white-color;
                }
            }
        }
    }

    &__links-item {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__title {
            color: $white-color;
        }
    }

    &__links-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__item-link {
            color: #e0e0e0;
            line-height: 120%;
        }
    }

    &__links-list__item-link,
    &__info-communication p,
    &__docs a {
        transition: color .2s linear;

        &:hover {
            color: $red-color;
        }
    }

    &__info {
        margin-bottom: 68px;

        .row {
            align-items: center;
        }
    }

    &__info-text {
        color: #e0e0e0;
        line-height: 150%;
    }

    &__info-communication {
        display: flex;
        align-items: center;
        gap: 18px;

        svg {
            width: 28px;
            height: 28px;
        }

        p {
            color: #f2f2f2;
            line-height: 28px;
        }
    }

    .double-separator {
        margin-bottom: 56px;
    }

    &__docs {
        display: flex;
        align-items: center;
        gap: 100px;
        flex-wrap: wrap;

        p,
        a {
            @include font(18px, 28px, #f2f2f2);
        }
    }
}

.promotion {
    &__wrapper {
        min-height: 100dvh;
        background-color: $bg-color;
    }

    &__content {
        position: relative;
        padding: 63px 0 135px;

        @include pseudo-elem(after, "", absolute, null, null, 72px, 50%) {
            width: 16px;
            height: 42px;
            transform: translateX(-50%);
            background-image: url(../images/icons/arrow-down.svg);
            cursor: pointer;
            z-index: 1;
        }
    }

    &__body,
    .download-button {
        position: relative;
        z-index: 1;
    }

    &__body {
        max-width: 552px;
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__logo {
        margin-bottom: 60px;

        svg {
            width: 381px;
            height: 82px;
        }
    }

    &__text {
        margin-bottom: 60px;

        &:first-of-type {
            margin-bottom: 26px;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        img {
            @include image-default();
        }
    }

    &__line--left,
    &__line--bottom,
    &__line--right {
        position: fixed;
        z-index: 1;
    }

    &__line--left,
    &__line--right {
        width: 50px;
    }

    &__line--left {
        top: 0;
        left: 0;
    }

    &__line--bottom {
        height: 50px;
        left: 0;
        bottom: 0;
    }

    &__line--right {
        bottom: 0;
        right: 0;
    }

    &__image-bowl {
        position: absolute;
        right: 445px;
        z-index: 1;
    }

    &__image-dog {
        position: absolute;
        top: 0;
        right: 0;
        transition: right 0.2s $transitionTimingFunc;
    }
}

.promotion-header {
    padding-top: 47px;

    &__container {
        max-width: 1538px;
        padding: 0 70px;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        justify-content: flex-end;
    }

    &__burger-link {
        position: relative;
        z-index: 2;

        a {
            @include font(20px, 120%, $black-color) {
                @extend %stratos-lc-web-500;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}

.menu {
    padding: 60px;
    background-color: #f5f8fd;

    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;

    // Слева - направа
    // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

    // Справа - налево
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

    transition: clip-path 0.5s;
    will-change: clip-path;

    &.menu--active {
        z-index: 20;
        // Слева - направа
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        // Справа - налево
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

    &__inner {
        display: flex;
        height: 100%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__left-logo svg {
        width: 220px;
        height: 48px;
    }

    &__left-logo,
    &__left-language,
    &__close {
        opacity: 0;
        cursor: pointer;
    }
}

.menu-nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    &__item {
        position: relative;
        padding-left: 37px;
        opacity: 0;
        transform: translateX(100%);

        h3 {
            position: absolute;
            top: 0;
            left: 0;
            text-transform: uppercase;
            line-height: 120%;
            @extend %stratos-lc-web-400;
        }
    }

    &__item-link {
        @include font(72px, 120%, $black-color) {
            text-transform: uppercase;
            @extend %stratos-lc-web-500;
        }

        color: transparent;
        background-image: linear-gradient(90deg, $red-color 50%, $black-color 50%);
        background-position: 100%;
        background-size: 200% 100%;
        background-clip: text;

        transition: background-position 0.5s ease;

        &:hover {
            background-position: 0;
        }
    }
}

.packages {
    position: relative;
    padding-top: 120px;
    background-color: #ebebeb;

    &__title::before {
        content: "02";
    }

    &__body {
        margin-top: 74px;
        display: flex;
        height: 100%;
    }

    &__image {
        margin-left: auto;
        max-width: 766px;
        width: 100%;
    }

    &__dog {
        position: absolute;
        left: 50px;
    }

    &__cat {
        position: absolute;
        display: flex;
        align-items: flex-end;
    }
}

.logotype {
    height: 100vh;
    display: flex;
    align-items: center;

    &--second,
    &--third,
    &--fourth {
        height: 100vh;
    }

    &__wrapper {
        background-color: #f5f8fd;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 79px;
    }

    &__header {
        margin-bottom: 149px;
    }

    &__title::before {
        content: "03";
    }

    &__logo-wrapper {
        position: relative;
        margin: 0 auto;
        width: 622px;
        height: 330px;
    }

    &__logo {

        &--first,
        &--second,
        &--third,
        &--fourth {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include bg-img(null,
                null,
                "../images/sprite.svg#bowl-wow-natural-balanced",
                no-repeat,
                cover,
                center center);
            background-color: #f5f8fd;
        }

        &--first {
            background-image: url("../images/sprite.svg#bowl-wow-super-premium-blueprint");
        }

        &--second {
            background-image: url("../images/sprite.svg#bowl-wow-super-premium-dog");
        }

        &--third {
            background-image: url("../images/sprite.svg#bowl-wow-super-premium-cat");
        }
    }

    &__text p {
        line-height: 170%;
    }

    &__download-button {
        margin-left: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body {
    overscroll-behavior: none;
}

.palette {
    width: 100%;
    height: fit-content;

    &__inner {
        display: flex;
        height: 100vh;
    }

    &__wrapper {
        background-color: #f5f8fd;
        display: flex;
        flex-wrap: nowrap;
        width: 300%;
        height: fit-content;
        overscroll-behavior: none;
    }

    &__content {
        min-width: 33%;
        display: flex;
        padding: 80px 85px 100px 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        width: min-content;

        &::before {
            content: "04";
        }
    }

    &__main {
        flex-grow: 1;
    }

    &__main-title {
        @include font(60px, 170%) {
            @extend %stratos-lc-web-500;
            text-transform: uppercase;
        }
    }

    &__colors {
        display: flex;
        width: 100%;
        flex: 0 0 67%;
    }

    &:first-child {
        .palette__colors-item {
            &:hover {
                flex-grow: 1;
            }

            &__info {
                display: flex;
            }
        }
    }

    &__colors-item {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;

        cursor: pointer;
        transition: flex-grow 0.5s $transitionTimingFunc;
        
        &__info {
            display: none;

            p.palette__colors-item__info-color--active::after {
                opacity: 1;
            }
        }

        &:hover {
            flex-grow: 1.5;

            .palette__colors-item__info {
                display: flex;
            }
        }
    }

    &__colors-item__info {
        position: relative;
        flex-direction: column;
        gap: 10px;
        margin: 0 0 118px 104px;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: -30px;
            left: 0;

            @include bg-img(null, null, "../images/sprite.svg#copy--black", no-repeat, cover, center center);
        }

        &::after {
            content: 'Скопировать';
            position: absolute;
            bottom: -30px;
            left: 30px;

            @include font(14px, 140%);
        }

        p {
            position: relative;
            font-size: 20px;
            width: fit-content;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                transform: translateY(-50%);
                right: -40px;
                opacity: 0;

                transition: opacity 0.2s $transitionTimingFunc;

                @include bg-img(null, null, "../images/sprite.svg#copy--black", no-repeat, cover, center center);
            }
        }

        &--white {
            color: $white-color;

            p::after {
                @include bg-img(null, null, "../images/sprite.svg#copy", no-repeat, cover, center center);
            }

            &::before {
                @include bg-img(null, null, "../images/sprite.svg#copy", no-repeat, cover, center center);
            }
        }
    }
}

.fonts {
    display: flex;
    max-height: 100dvh;

    &__title::before {
        content: '05';
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-top: 85px;
        max-width: 514px;
    }

    &__content {
        min-width: 44%;
        display: flex;
        align-items: center;
    }

    &__body {
        padding: 214px 0 145px;
    }

    &__image {
        flex: 0 0 56%;
        min-width: calc(56% + ((100vw - 830px) / 2));

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrapper {
        overflow: hidden;
    }
}

.fonts-field {
    &__title {
        margin-bottom: 10px;
    }

    &__weight {
        margin-bottom: 20px;
    }

    &__description {
        @include font(20px, normal, #000);
    }

    &__title,
    &__weight {
        @include font(60px, normal, #1D1D1B);
    }

    &:first-child {

        .fonts-field__title,
        .fonts-field__weight {
            @extend %bebas-neue-400;
        }
    }

    &:nth-child(2) {

        .fonts-field__title,
        .fonts-field__weight {
            @extend %montserrat-400;

            bold {
                @extend %montserrat-700;
            }
        }
    }
}

.photostyle {
    padding: 166px 0 300px;
    background-color: #1a1a1b;

    &__title::before {
        content: "06";
    }

    &__body {
        position: relative;
    }

    &__info {
        margin-top: 62px;

        p {
            @include font(null, 170%, $white-color);
        }
    }

    &__slider {
        margin-top: 80px;
    }

    &__slider-slide {
        max-width: 590px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slider-button {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid $white-color;

        transition-property: color;
        transition-property: background-color;
        transition-duration: .3s;
        transition-timing-function: $transitionTimingFunc;

        @include font(32px, 120%, $white-color) {
            letter-spacing: 0.32px;
            text-transform: uppercase;
        }

        &__wrapper {
            position: absolute;
            bottom: -100px;
            right: 0;
            display: flex;
            align-items: center;
            gap: 20px;
            width: 140px;
            height: 60px;
        }

        &:hover {
            background-color: $white-color;
            color: $black-color;
        }
    }
}

.materials {
    position: relative;
    padding: 200px 0 564px;
    background-color: #f5f8fd;
    overflow: hidden;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title::before {
        content: "07";
    }

    &__body,
    &__header {
        z-index: 1;
    }

    &__links-inner {
        display: grid;
        grid-template-areas:
            "a b"
            "c d"
            "wide wide";
        gap: 20px;
        width: 580px;

        a {
            .download-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            &:nth-child(1) {
                grid-area: a;
            }

            &:nth-child(2) {
                grid-area: b;
            }

            &:nth-child(3) {
                grid-area: c;
            }

            &:nth-child(4) {
                grid-area: d;
            }

            &:last-child {
                grid-area: wide;
            }
        }
    }

    &__image-dog {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: 785px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@import "media";